*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background-color: #FF9A4B;
}

main{
    width: 960px;
    margin: 50px auto;
    display: flex;
}

.step-box{
    width: 300px;
    padding: 10px;
    margin-right: 30px; 
    position: relative; 
    background-color: #eeeeee;
}

.step-box:last-child{
    position: relative; 
    margin-right: 0; 
    
}

.step1-image{
    margin-bottom: 15px;
    background-image: url("img/flow01.png");
    background-size: cover;
    background-position: bottom;
    height: 150px;
}

.step2-image{
    margin-bottom: 15px;
    background-image: url("img/flow02.png");
    background-size: cover;
    background-position: bottom;
    height: 150px;
}

.step3-image{
    margin-bottom: 15px;
    background-image: url("img/flow03.png");
    background-size: cover;
    background-position: bottom;
    height: 150px;
}

.step-headline{
    padding: 3px;
    position: absolute;
    background-color: #FF9A4B;
    color: white;
    top: 0;
    left: 0;
}


.step-title{

    margin: 5px 10px;
}





footer{
    width: 100%;
    height: 50px;
    background-color: #AAAAAA;
}



@media screen and (max-width:768px){
    header{
        width:100%;
    }

    main {
        width: 100%;
        display: block;
    }

    .step-box{
        width: 90%;
        padding: 10px;
        margin-bottom: 20px; 
        margin-left: auto;
        margin-right: auto;
    }

    .step-box:last-child{
        width: 90%;
        margin-bottom: 0; 
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .step1-image{
        width: 100%;
    }

    .step2-image{
        width: 100%
    }

    .step3-image{
        width: 100%;
    }

    .step4-image{
        width: 100%;
    }


    footer{
        width: 100%;
    }
       
}